<div class="full-page">
  <h2>New configuration</h2>
  <div class="form">
    <div class="form-left">
      <h4>Program specifics</h4>
      <mat-form-field>
        <mat-label>Program</mat-label>
        <mat-select [formControl]="programsControl" required [(ngModel)]="formData.program">
          <mat-option *ngFor="let program of programs" [value]="program">
            {{program}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="programsControl.hasError('required')">Please choose a program</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [formControl]="yearsControl" required [(ngModel)]="formData.year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="yearsControl.hasError('required')">Please choose a year</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Group</mat-label>
        <mat-select [formControl]="groupControl" required [(ngModel)]="formData.group">
          <mat-option *ngFor="let group of programs" [value]="group">
            {{group}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="groupControl.hasError('required')">Please choose a group</mat-error>
      </mat-form-field>
    </div>

    <div class="form-right">
      <h4 style="width: 100%">Groups</h4>
      <mat-form-field *ngFor="let RVSubject of RVSubjects; let index = index" class="form-right-field">
        <mat-label>{{RVSubject.name}}</mat-label>
        <mat-select [formControl]="RVSubject.formControl" required [(ngModel)]="formData.RVgroups[index]">
          <mat-option *ngFor="let group of RVSubject.groups" [value]="group">
            {{group}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="RVSubject.formControl.hasError('required')">Please choose a group for {{RVSubject.name}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-bottom">
    <mat-form-field>
      <mat-label>Configuration name</mat-label>
      <input matInput [(ngModel)]="formData.name" required>
      <mat-error *ngIf="nameControl.hasError('required')">Please enter a name</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="test()">Save configuration</button>
  </div>
</div>

